In [4]:
import pandas as pd
import numpy as np
%matplotlib inline

import matplotlib.pyplot as plt 
import seaborn as sns
import utils

In [6]:
df = pd.read_csv("data/pocketbook-export.csv")
df = utils.parse_df(df, "None")
df.head()

Don't have a parser for this kind of csv file

,date,description,category,amount,notes,tags,bank,accountname,accountnumber
0,01/07/2014,Gusto Italian Restasuratthani Thb000000236000,Entertainment - Food,-79.40,NaN,NaN,BENDIGO_BANK,MasterCard Account,694645268
1,01/07/2014,Tpg Internet Pty Ltnorth Ryde Aud000000005999,Utilities - Phone/Internet,-59.99,NaN,NaN,BENDIGO_BANK,MasterCard Account,694645268
2,03/07/2014,Mtpmedia Temple I8775784000 Usd000000005000,Web Hosting,-54.03,NaN,NaN,BENDIGO_BANK,MasterCard Account,694645268
3,04/07/2014,Ebanking Transfer,Transferring Money,665.00,NaN,NaN,BENDIGO_BANK,MasterCard Account,694645268
4,04/07/2014,Digitalocean Usd000000001000,NaN,-10.82,NaN,NaN,BENDIGO_BANK,MasterCard Account,694645268

In [3]:
df.head()

,date,description,category,amount,notes,tags,bank,accountname,accountnumber
0,01/07/2014,Gusto Italian Restasuratthani Thb000000236000,Entertainment - Food,-79.40,NaN,NaN,BENDIGO_BANK,MasterCard Account,694645268
1,01/07/2014,Tpg Internet Pty Ltnorth Ryde Aud000000005999,Utilities - Phone/Internet,-59.99,NaN,NaN,BENDIGO_BANK,MasterCard Account,694645268
2,03/07/2014,Mtpmedia Temple I8775784000 Usd000000005000,Web Hosting,-54.03,NaN,NaN,BENDIGO_BANK,MasterCard Account,694645268
3,04/07/2014,Ebanking Transfer,Transferring Money,665.00,NaN,NaN,BENDIGO_BANK,MasterCard Account,694645268
4,04/07/2014,Digitalocean Usd000000001000,NaN,-10.82,NaN,NaN,BENDIGO_BANK,MasterCard Account,694645268