# Using Google Places api

- Docs: https://developers.google.com/places/
- Place search web api: https://developers.google.com/places/web-service/search

Search via text string or location, and places api returns a list of places along with summary info.

In [11]:
import requests
import configparser
import utils

import pandas as pd
import numpy as np

# api keys are in config.ini to keep them out of github
config = configparser.ConfigParser()
config.read('config.ini')
try:
    PLACES_API = config['google']['PLACES_API']
except KeyError:
    print("Missing keys in the config.ini file")

## text search example

In [8]:
query="Officeworks five docks"
country = "Australia"     # adding country to each query so i don't have to type it in

# the url to send the request to
url = "https://maps.googleapis.com/maps/api/place/textsearch/json"

payload= {"query": query+" "+country, "key": PLACES_API}

r = requests.get(url, params=payload)
r.json()

{'html_attributions': [],
 'results': [{'formatted_address': '213 Parramatta Rd, Five Dock NSW 2046, Australia',
   'geometry': {'location': {'lat': -33.8694755, 'lng': 151.1136929},
    'viewport': {'northeast': {'lat': -33.86832321970849,
      'lng': 151.1149687302915},
     'southwest': {'lat': -33.87102118029149, 'lng': 151.1122707697085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png',
   'id': 'dab3d4807be49dc13eb2030b292cccc8c34d0488',
   'name': 'Officeworks Five Dock',
   'opening_hours': {'open_now': True, 'weekday_text': []},
   'photos': [{'height': 1080,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116859293778730537042/photos">Palash Basak</a>'],
     'photo_reference': 'CmRaAAAA4-wqlZ697ciD97wGu4LsGutIna4p-I63EdSMDwmvvpxMgNCoCiy01WVulQXDZzDa8b7Ur5uaxedC84G9J7J8Tbr2katW7p-_3BRT1Bm4o8aRoVeRnbPGjZqPOXp-UEaYEhAdj1H4-dea80lEgi7EKgMSGhQaOIlFXCPLmPHrJhHlvDUG6qWg6A',
     'width': 1920}],
   'place_id': 'ChIJbZZA0su6EmsRJBkb-D4MJa8',
   'rating': 3.8,
   'reference': 'CmRSAAAAIxBqX8-VPViXFqsI8Qt6rYnCrCimseYHq_RBzXvU1teMxZtu55AOp2gEgb5_DMM8UxKf5N_XTI_KspHt5ClDvUv0B5qRWIPgpPTa3kt9JSwUsucMpNChhoNcBRhigg1UEhAbVTVayXwjD-AysIacPTNJGhRb2knXPnfCaYd3637IX2zRtljPOg',
   'types': ['electronics_store',
    'furniture_store',
    'home_goods_store',
    'store',
    'point_of_interest',
    'establishment']}],
 'status': 'OK'}

In [16]:
r.json()['results'][0]

{'formatted_address': '213 Parramatta Rd, Five Dock NSW 2046, Australia',
 'geometry': {'location': {'lat': -33.8694755, 'lng': 151.1136929},
  'viewport': {'northeast': {'lat': -33.86832321970849,
    'lng': 151.1149687302915},
   'southwest': {'lat': -33.87102118029149, 'lng': 151.1122707697085}}},
 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png',
 'id': 'dab3d4807be49dc13eb2030b292cccc8c34d0488',
 'name': 'Officeworks Five Dock',
 'opening_hours': {'open_now': True, 'weekday_text': []},
 'photos': [{'height': 1080,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116859293778730537042/photos">Palash Basak</a>'],
   'photo_reference': 'CmRaAAAA4-wqlZ697ciD97wGu4LsGutIna4p-I63EdSMDwmvvpxMgNCoCiy01WVulQXDZzDa8b7Ur5uaxedC84G9J7J8Tbr2katW7p-_3BRT1Bm4o8aRoVeRnbPGjZqPOXp-UEaYEhAdj1H4-dea80lEgi7EKgMSGhQaOIlFXCPLmPHrJhHlvDUG6qWg6A',
   'width': 1920}],
 'place_id': 'ChIJbZZA0su6EmsRJBkb-D4MJa8',
 'rating': 3.8,
 'reference': 'CmRSAAAAIxBqX8-VPViXFqsI8Qt6rYnCrCimseYHq_RBzXvU1teMxZtu55AOp2gEgb5_DMM8UxKf5N_XTI_KspHt5ClDvUv0B5qRWIPgpPTa3kt9JSwUsucMpNChhoNcBRhigg1UEhAbVTVayXwjD-AysIacPTNJGhRb2knXPnfCaYd3637IX2zRtljPOg',
 'types': ['electronics_store',
  'furniture_store',
  'home_goods_store',
  'store',
  'point_of_interest',
  'establishment']}

In [9]:
import requests
places_info = {}

def get_place_info(query="Aldi Broadway", country = "Australia"):
    """takes in a text and returns a google place lookup"""
    
    # return from dict if already looked this up
    if query.lower() in places_info:
        print("returning from dict")
        return places_info[query.lower()]
    
    info = {"address": 0, "location":0, "place_id":0, "types":0}
    
    url = "https://maps.googleapis.com/maps/api/place/textsearch/json"
    payload= {"query": query+" "+country, "key": PLACES_API}
    r = requests.get(url, params=payload)
    
    if r.json()["results"] != []:
        place = r.json()["results"][0]
    else:
        return info
    
    info["address"] = place['formatted_address']
    info["location"] = place['geometry']['location']
    info["place_id"] = place['place_id']
    info["types"] = place['types']
    #info["rating"] = place['types']
    
    return info  

queries = ["Pablo & Rusty", "rebel sports 2007", "chemist warehouse", "coles broadway"]
places_info = {q.lower(): get_place_info(q) for q in queries}

In [10]:
places_info

{'chemist warehouse': {'address': '4/347-349 William St, Perth WA 6000, Australia',
  'location': {'lat': -31.94540090000001, 'lng': 115.8613471},
  'place_id': 'ChIJZ5FpMtC6MioRzG8Q0Vj2pEI',
  'types': ['pharmacy',
   'health',
   'store',
   'point_of_interest',
   'establishment']},
 'coles broadway': {'address': 'The Broadway Shopping Centre, Broadway St & Bay St, Broadway NSW 2007, Australia',
  'location': {'lat': -33.88365539999999, 'lng': 151.1939585},
  'place_id': 'ChIJk87o1SeuEmsRc2T1HToXOvc',
  'types': ['grocery_or_supermarket',
   'food',
   'store',
   'point_of_interest',
   'establishment']},
 'pablo & rusty': {'address': '161 Castlereagh St, Sydney NSW 2000, Australia',
  'location': {'lat': -33.8723255, 'lng': 151.2090603},
  'place_id': 'ChIJlQzbPT6uEmsRdMutKU9hWds',
  'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment']},
 'rebel sports 2007': {'address': '44197 Bay Street, Broadway NSW 2007, Australia',
  'location': {'lat': -33.8842421, 'lng': 151.194879},
  'place_id': 'ChIJmdfIvCmuEmsRkjb5rWJlIcU',
  'types': ['shoe_store',
   'clothing_store',
   'store',
   'point_of_interest',
   'establishment']}}

## now to apply this to dataframe

In [19]:
df = utils.parse_csv("data/transactions.csv", "typical")
df.head()

parsed file with typical parser

,date,amount,description,category,merchant,suburb,deal_with_later
0,2017-10-17,-12.00,"RETAIL PURCHASE ULTIMO MINIMARKET QPS, ULTIMO ...",NaN,RETAIL PURCHASE ULTIMO MINIMARKET QPS,ULTIMO,AUD000000001200
1,2017-10-17,-29.81,"RETAIL PURCHASE COLES 08001, RANDWICK 1610 AUD...",NaN,RETAIL PURCHASE COLES 08001,RANDWICK,AUD000000002981
2,2017-10-17,-39.76,"RETAIL PURCHASE COLES 0839, BROADWAY 1510 AUD0...",NaN,RETAIL PURCHASE COLES 0839,BROADWAY,AUD000000003976
3,2017-10-17,-9.00,"RETAIL PURCHASE UBER *TRIP 67OVN, SYDNEY 1610 ...",NaN,RETAIL PURCHASE UBER *TRIP 67OVN,SYDNEY,AUD000000000900
4,2017-10-17,-68.00,"RETAIL PURCHASE PUB LIFE KITCHEN, ULTIMO 1310 ...",NaN,RETAIL PURCHASE PUB LIFE KITCHEN,ULTIMO,AUD000000006800

In [113]:
a = {'formatted_address': '213 Parramatta Rd, Five Dock NSW 2046, Australia',
 'geometry': {'location': {'lat': -33.8694755, 'lng': 151.1136929},
  'viewport': {'northeast': {'lat': -33.86832321970849,
    'lng': 151.1149687302915},
   'southwest': {'lat': -33.87102118029149, 'lng': 151.1122707697085}}},
 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png',
 'id': 'dab3d4807be49dc13eb2030b292cccc8c34d0488',
 'name': 'Officeworks Five Dock',
 'opening_hours': {'open_now': True, 'weekday_text': []},
 'photos': [{'height': 1080,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116859293778730537042/photos">Palash Basak</a>'],
   'photo_reference': 'CmRaAAAA4-wqlZ697ciD97wGu4LsGutIna4p-I63EdSMDwmvvpxMgNCoCiy01WVulQXDZzDa8b7Ur5uaxedC84G9J7J8Tbr2katW7p-_3BRT1Bm4o8aRoVeRnbPGjZqPOXp-UEaYEhAdj1H4-dea80lEgi7EKgMSGhQaOIlFXCPLmPHrJhHlvDUG6qWg6A',
   'width': 1920}],
 'place_id': 'ChIJbZZA0su6EmsRJBkb-D4MJa8',
 'rating': 3.8,
 'reference': 'CmRSAAAAIxBqX8-VPViXFqsI8Qt6rYnCrCimseYHq_RBzXvU1teMxZtu55AOp2gEgb5_DMM8UxKf5N_XTI_KspHt5ClDvUv0B5qRWIPgpPTa3kt9JSwUsucMpNChhoNcBRhigg1UEhAbVTVayXwjD-AysIacPTNJGhRb2knXPnfCaYd3637IX2zRtljPOg',
 'types': ['electronics_store',
  'furniture_store',
  'home_goods_store',
  'store',
  'point_of_interest',
  'establishment']}

def get_place_info(row):
    """takes in a df row and returns a google place lookup"""
    query = row["merchant"] + " " + row["suburb"]
    # return from dict if already looked this up
    if query in places_info:
        print("returning from dict")
        return places_info[query]
    
    url = "https://maps.googleapis.com/maps/api/place/textsearch/json"
    payload= {"query": query, "key": PLACES_API}
    r = requests.get(url, params=payload)
    
    if r.json()["results"] != []:
        place = r.json()["results"][0]
    else:
        place = a
    return place

dd = df.tail(4).copy()
dd["google_places"] = pd.DataFrame(dd[["merchant", "suburb"]].apply(get_place_info, axis=1))
dd

,date,amount,description,category,merchant,suburb,deal_with_later,google_places
2930,2015-10-10,-12.84,RETAIL PURCHASE-INTERNATIONAL Amazon Services-...,NaN,RETAIL PURCHASE-INTERNATIONAL Amazo,"Services-K,866-321-8851",USD000000000920,"{'formatted_address': '213 Parramatta Rd, Five..."
2931,2015-10-10,-0.20,INTERNATIONAL TRANSACTION FEE,NaN,,INTERNATIONAL,FEE,"{'formatted_address': '3030 Plaza Bonita Rd, N..."
2932,2015-10-10,-6.66,RETAIL PURCHASE-INTERNATIONAL AMAZON SERVICES-...,NaN,RETAIL PURCHASE-INTERNATIONAL AMAZO,"SERVICES-1,866-216-1072",USD000000000477,"{'formatted_address': '213 Parramatta Rd, Five..."
2933,2015-10-10,-45.21,"RETAIL PURCHASE AMAYSIM AUSTRALIA PT, SYDNEY 0...",NaN,RETAIL PURCHASE AMAYSIM AUSTRALIA PT,SYDNEY,AUD000000004521,"{'formatted_address': '213 Parramatta Rd, Five..."

In [132]:
def unpack(df, column, fillna=None):
    #ret = None
    if fillna is None:
        ret = pd.concat([df, pd.DataFrame((d for idx, d in df[column].iteritems()))], axis=1)
        del ret[column]
    else:
        ret = pd.concat([df, pd.DataFrame((d for idx, d in df[column].iteritems())).fillna(fillna)], axis=1)
        del ret[column]
    return ret

unpack(dd, "google_places")

,date,amount,description,category,merchant,suburb,deal_with_later,formatted_address,geometry,icon,id,name,opening_hours,photos,place_id,rating,reference,types
0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,"213 Parramatta Rd, Five Dock NSW 2046, Australia","{'location': {'lat': -33.8694755, 'lng': 151.1...",https://maps.gstatic.com/mapfiles/place_api/ic...,dab3d4807be49dc13eb2030b292cccc8c34d0488,Officeworks Five Dock,"{'open_now': True, 'weekday_text': []}","[{'height': 1080, 'html_attributions': ['<a hr...",ChIJbZZA0su6EmsRJBkb-D4MJa8,3.8,CmRSAAAAIxBqX8-VPViXFqsI8Qt6rYnCrCimseYHq_RBzX...,"[electronics_store, furniture_store, home_good..."
1,NaT,NaN,NaN,NaN,NaN,NaN,NaN,"3030 Plaza Bonita Rd, National City, CA 91950,...","{'location': {'lat': 32.656186, 'lng': -117.06...",https://maps.gstatic.com/mapfiles/place_api/ic...,9fcdd83a01a0d3e7f4ed75515163115ebf0f5e4e,International,"{'open_now': False, 'weekday_text': []}","[{'height': 968, 'html_attributions': ['<a hre...",ChIJLayIs-RR2YARTFbPznbNWF4,NaN,CmRbAAAAbYXp910_UVV7pX6qaaB_qA8xZa_46zN0J1xPKY...,"[jewelry_store, store, point_of_interest, esta..."
2,NaT,NaN,NaN,NaN,NaN,NaN,NaN,"213 Parramatta Rd, Five Dock NSW 2046, Australia","{'location': {'lat': -33.8694755, 'lng': 151.1...",https://maps.gstatic.com/mapfiles/place_api/ic...,dab3d4807be49dc13eb2030b292cccc8c34d0488,Officeworks Five Dock,"{'open_now': True, 'weekday_text': []}","[{'height': 1080, 'html_attributions': ['<a hr...",ChIJbZZA0su6EmsRJBkb-D4MJa8,3.8,CmRSAAAAIxBqX8-VPViXFqsI8Qt6rYnCrCimseYHq_RBzX...,"[electronics_store, furniture_store, home_good..."
3,NaT,NaN,NaN,NaN,NaN,NaN,NaN,"213 Parramatta Rd, Five Dock NSW 2046, Australia","{'location': {'lat': -33.8694755, 'lng': 151.1...",https://maps.gstatic.com/mapfiles/place_api/ic...,dab3d4807be49dc13eb2030b292cccc8c34d0488,Officeworks Five Dock,"{'open_now': True, 'weekday_text': []}","[{'height': 1080, 'html_attributions': ['<a hr...",ChIJbZZA0su6EmsRJBkb-D4MJa8,3.8,CmRSAAAAIxBqX8-VPViXFqsI8Qt6rYnCrCimseYHq_RBzX...,"[electronics_store, furniture_store, home_good..."
2930,2015-10-10,-12.84,RETAIL PURCHASE-INTERNATIONAL Amazon Services-...,NaN,RETAIL PURCHASE-INTERNATIONAL Amazo,"Services-K,866-321-8851",USD000000000920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2931,2015-10-10,-0.20,INTERNATIONAL TRANSACTION FEE,NaN,,INTERNATIONAL,FEE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2932,2015-10-10,-6.66,RETAIL PURCHASE-INTERNATIONAL AMAZON SERVICES-...,NaN,RETAIL PURCHASE-INTERNATIONAL AMAZO,"SERVICES-1,866-216-1072",USD000000000477,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2933,2015-10-10,-45.21,"RETAIL PURCHASE AMAYSIM AUSTRALIA PT, SYDNEY 0...",NaN,RETAIL PURCHASE AMAYSIM AUSTRALIA PT,SYDNEY,AUD000000004521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN