In [3]:
import pandas as pd
post_codes = pd.read_csv("data/Australian_Post_Codes_Lat_Lon.csv")
bb = pd.read_csv("data/transactions.csv")

In [4]:
post_codes.head()

,postcode,suburb,state,dc,type,lat,lon
0,200,AUSTRALIAN NATIONAL UNIVERSITY,ACT,AUSTRALIAN NATIONAL UNI LPO,Post Office Boxes,-35.277272,149.117136
1,221,BARTON,ACT,NaN,LVR,-35.201372,149.095065
2,800,DARWIN,NT,DARWIN DELIVERY CENTRE,Delivery Area,-12.801028,130.955789
3,801,DARWIN,NT,DARWIN DELIVERY CENTRE,Post Office Boxes,-12.801028,130.955789
4,804,PARAP,NT,PARAP,Post Office Boxes,-12.432181,130.843310

In [5]:
bb.head(2)

,17/10/2017,-12.00,"RETAIL PURCHASE ULTIMO MINIMARKET QPS, ULTIMO 1510 AUD000000001200"
0,17/10/2017,-29.81,"RETAIL PURCHASE COLES 08001, RANDWICK 1610 AUD..."
1,17/10/2017,-39.76,"RETAIL PURCHASE COLES 0839, BROADWAY 1510 AUD0..."